    #myAccount::after{
      content: "Peter";
    }
    *{
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      font-family: sans-serif;
      font-size: 14px;
    }
    body {
      background-color: #f2f2f2;

    }
    nav{
      background-color: #ffffff;
      position: fixed;
      width: 100%;
      top:0;
      z-index: 10;
      box-shadow: 0 0 8px #999;
    }
    a:link {
      color: #000000;
      text-decoration: none;
    }
    a:visited {
      color: #000000;
      text-decoration: none;
    }
    a:hover {
      color: #000000;
      text-decoration: none;
    }
    a:active {
      color: yellow;
      text-decoration: none;
    }

    #brandNav{
      margin: 0 0 0 0;
    }

    #brandNav img{
      height: 2.5em;
      width: 2.5em;
      margin: 9px .5em 0 .5em;
    }
    #brandNav img:hover{
      box-shadow: 0px 0px 4px #777777;
    }

    nav ul li {
      display: block;
      font-size: 1.2em;
      padding: 1em .5em;
      border-bottom: 4px solid #ffffff;
      cursor: pointer;
    }
    nav ul li:hover{
      border-bottom: 4px solid #7BBC00;
      background-color: #f7f7f7;
    }
    #primaryNav{
      margin: 0 0 0 0;
    }

    .activePrimaryNav{
      border-bottom-color: #000000;
    }

    #secondaryNav{
      margin: 0 1em 0 0;
    }
    .dropdownNav{
      position: relative;
      display: block;
    }
    .dropdownContent{
      display: none;
      position: absolute;
      margin: 18px 0 0 -18px;
      background-color: #ffffff;
      min-width: 140px;
      z-index: 1;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .dropdownContent a{
      color: #000000;
      padding: 1em 1em 1em 1em;
      line-height: 1.2em;
      text-decoration: none;
      display: block;
    }
    .dropdownContent a:hover{
      background-color: #f7f7f7;
    }
    
    .dropdownNav:hover .dropdownContent{
      display: block;
    } 
    
    .dropdownNav:hover{
      background-color: #f7f7f7;
    }

    .dropdownRight{
      right: 0;
      min-width: 150px;
    }
    
    .clearDiv{
      clear: both;
    }


    .iconSmall{
      height: 1em;
      width: 1em;
    }

    #projectNav{
      display: block;
      margin: 1em auto;
      width: 1000px;
    }

    #projectSearch{
      margin: 1em auto;
    }

    #projectsDrop{
      float: left;
    }

    #projectsDrop h4{
      display: inline-block;
      padding: .5em 0 0 0;
      font-size: 1.5em;
    }

    #searchContainer{
      float: right;
      padding: .5em;
      background-color: #ffffff;
      border:1px solid #aaaaaa;
    }

    #searchContainer input{
      border: none;
      vertical-align: top;
      padding: 4px 0 0 .5em;
    }

    #projectNav ul{
      margin: auto;
      background-color: #ffffff;
    }

    #projectNav li{
      padding: 1.2em 1em 1.2em 1em;
      display: inline-block;

    }

    #projectNav li:hover{
      background-color: #f7f7f7;
    }

    .iconMed{
      width: 18px;
      height: 18px;
    }

    #mainWrapper{
      margin: 70px 0 0 0;
    }

    #screenWrapper{

    }

    #screenWrapper img{
      display: block;
      margin: 0 auto;
    }

    #screenWrapper a{
      border: none;
    }
    /* For mobile phones: */
    
    #secondaryNav{
        display: block;
      }
      nav ul li {
      padding: 1em .5em;
      }
      .moreOverflow{
        display: block;
      }
      .optional {
        display: none;
      }
    @media only screen and (min-width: 580px) {
      /* For tablets: */
      #brandNav{
        float: left;
      }

      #brandNav img{
        height: 2.5em;
        width: 2.5em;
        margin: .9px .5em .5em 1em;
      }
      nav ul li {
        display: inline-block;
        font-size: 1.2em;
        padding: 1em .5em;
        border-bottom: 4px solid #ffffff;
        cursor: pointer;
      }
      nav ul li:hover{
        border-bottom: 4px solid #7BBC00;
        background-color: #f7f7f7;
      }
      #primaryNav{
      float: left;
      margin: 0 0 0 0;
    }

    #secondaryNav{
      float: right;
      margin: 0 1em 0 0;
      display: none;
    }

    .optional {
      display: inline-block;
    }
    .dropdownNav{
      display: inline-block;
    }

    .moreOverflow{
      display: none;
    }
      
    }
    @media only screen and (min-width: 685px) {
      /* For tablets: */
      
      #secondaryNav{
        display: inline-block;
      }
    }
    @media only screen and (min-width: 1230px) {
      /* For desktop: */
      .moreOverflow{
        display: inline-block;
      }
      .optional {
        display: none;
      }
      nav ul li {
      padding: 1em;
    }
    #brandNav{
      float: left;
    }
    #brandNav img{
      height: 2.5em;
      width: 2.5em;
      margin: 9px .5em .5em 1em;
    }
    #brandNav img:hover{
      box-shadow: 0px 0px 4px #777777;
    }

    nav ul li {
      display: inline-block;
      font-size: 1.2em;
      padding: 1em;
      border-bottom: 4px solid #ffffff;
      cursor: pointer;
    }
    nav ul li:hover{
      border-bottom: 4px solid #7BBC00;
      background-color: #f7f7f7;
    }
    #primaryNav{
      float: left;
      margin: 0 0 0 0;
    }

    #secondaryNav{
      float: right;
      margin: 0 1em 0 0;
    }
    .dropdownNav{
      position: relative;
      display: inline-block;
    }
    .dropdownContent{
      display: none;
      position: absolute;
      margin: 16px 0 0 -18px;
      background-color: #ffffff;
      min-width: 140px;
      z-index: 1;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .dropdownContent a{
      color: #000000;
      padding: 1em 1em 1em 1em;
      line-height: 1.2em;
      text-decoration: none;
      display: block;
    }
    .dropdownContent a:hover{
      background-color: #f7f7f7;
    }
    
    .dropdownNav:hover .dropdownContent{
      display: block;
    } 
    
    .dropdownNav:hover{
      background-color: #f7f7f7;
    }

    .dropdownRight{
      right: 0;
      min-width: 150px;
    }
    }
    